body {
  background-color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  font-family: monospace;
  margin-top: 17%;
  font-size: 20px;
}

.result {
  color: lightgoldenrodyellow;
  border: solid 1px darkred;
  text-transform: capitalize;
}

.game_number {
  display: inline-block;
  margin: 50px 0;
}

.number {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.input,
.button {
  margin: 30px 0;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 0 0 5px;
}

.button {
  border-color: chartreuse;
  color: darkred;
  padding: 5px 10px 0 10px;
}

.counter {
  color: red;
  font-size: 60px;
  position: absolute;
  top: 0;
  right: 50px;
}
