body {
  background-color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  font-family: monospace;
  margin-top: 17%;
}

.result {
  color: lightgoldenrodyellow;
  border: solid 1px darkred;
  text-transform: capitalize;
}

.game_number {
  display: inline-block;
  margin: 50px 0;
}
.input,
.button {
  margin: 20px 0;
  text-align: center;
  border-radius: 5px;
}

.button {
  border-color: chartreuse;
  color: darkred;
}

.counter {
  color: red;
  font-size: 60px;
  position: absolute;
  top: 0;
  right: 50px;
}
